DATABASE_ROOT_PASSWORD=root
DATABASE_HOST=localhost
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_DB=webparty

FRONTEND_URL=http://localhost:5173
API_PORT=3000

ENVIRONMENT='production'
UPLOAD_DIR='/var/www/uploads/'

USERNAME_MAX_LENGTH=16
DISPLAY_NAME_MAX_LENGTH=16
ROLE_NAME_MAX_LENGTH=16
ACTION_MAX_LENGTH=128

BCRYPT_SALT=13
JWT_SECRET='blablabla'

# ==================================
#       DON'T TOUCH ME SECTION
# ==================================
MYSQL_HOST=${DATABASE_HOST}
MYSQL_DATABASE=${DATABASE_DB}
MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
MYSQL_USER=${DATABASE_USER}
MYSQL_PASSWORD=${DATABASE_PASSWORD}

PMA_HOST=db
PMA_USER=${DATABASE_USER}
PMA_PASSWORD=${DATABASE_PASSWORD}
