
.login-view {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;

    width: min(80svw, 400px);

    > * {
        margin-top: 10px;
    }

    .login-button > input {
        width: 100%;
    }

    &.loading {
        opacity: 0.4;
    }

    .login-view__title {
        text-align: center;
        font-size: 2em;
        line-height: 1;
        font-weight: 600;
        color: white;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .login-view__icon {
        text-align: center;
    }

}

